.food-card-container{
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    height: min(7rem,10vh);
    width: 19rem;
    font-size: clamp(0.5rem, 1vh + 4px, 1rem);
}
.food-card-img{
    height: min(7rem,10vh);
}
.food-card-img img{
    height: 100%;
    display: block;
    object-fit: contain;
    max-width: 8rem;
}
.food-card-details{
    flex-grow: 1;
    margin: 1rem;
}
.food-card-details h2, span{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
    margin: 0;
}
.food-card-details > span{
    -webkit-line-clamp: 1;
}
.expand-card:hover{
    background-color: rgb(203, 203, 203);
    cursor: pointer;
    transition: 200ms;
    transition-delay: 0ms;
}