:root{
    --main-background: #DADFE5;
}

body{
    /* background: #DADFE5; */
    /* background: radial-gradient(circle, rgba(165,165,165,1) 0%, rgba(51,58,72,1) 100%); */
    background: var(--main-background);
    margin: 0;
    background-attachment: fixed;
    font-family: 'Poppins' !important;
}