body{
    background: rgb(165,165,165);
    background: radial-gradient(circle, rgba(165,165,165,1) 0%, rgba(51,58,72,1) 100%);
    color: white;
    height: 100%;
    font-family: 'Poppins' !important;
    font-size: 22px;
    margin: 0;
}